*{
    margin: 0px;
    padding: 0px;
}

.solgorsel {
    display:flex;
    position: absolute;
    z-index: -1;
}

#solgorseltw{
    width: 1100px;
    height: 905px;
}

.sagkisim p{
    font-size: 85px;
    font-family: inherit;
    position: relative;
    left: 1185px;
    top: 260px;
    font-family:"Rubik",sans-serif;
}
#sagkisimaltyazi{
    font-size: 29px;
    font-family: inherit;
    position: relative;
    left: 1185px;
    top: 300px;
    font-family:"Rubik",sans-serif;
    word-spacing: 7px;
}

.butonlar button{
    display: block;
    position: relative;
    width: 370px;
    height: 50px;
    margin: 15px 0 0 0;
    left: 1189px;
    top: 320px;
    border: 0px solid white;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;   
}

.errorFooter{
    position: relative;
    top: 560px;
    left: 30px;
}
.errorFooter a{
    padding-right: 27px;
    text-decoration:none;
    color: #525252;
    font-family:Roboto,sans-serif;
    font-size: 15px;
}
.errorFooter p{color: grey;}
.errorFooter a:hover{
    text-decoration: underline;
}

.errorFooter{
    font-family: Roboto,sans-serif;
}

.kayit{
    background-color:#1DA1F2; 
    color: white;
}

.kayit:hover{
    background-color: #1493e2;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}


#girisbutton{
    background: white;
    border: 1px solid #1DA1F2;
    color: #1DA1F2;
}

#girisbutton:hover{
    cursor: pointer;
    background-color: #e5eff5;
    transition: all 0.4s ease 0s;
}
.butonlar a{
    text-decoration: none;
}

